# Alarm Details

**Name:** `{{name}}`  
**Kind:** `{{kind}}`  
**Type:** `{{type}}`  

**Severity:** <span style="color: {{severityColor}};">{{severity}}</span>  
**Namespace:** `{{namespace}}`

**Group:** `{{group}}`  
**Source Group:** `{{sourceGroup}}`  
**Source Kind:** `{{sourceKind}}`  
**Source Resource:** `{{sourceResource}}`

**Jspath:** `{{{jspath}}}`  
**Parent Alarm:** `{{parentAlarm}}`

---

### Probable Cause  
> {{probableCause}}

### Remedial Action  
> {{remedialAction}}

### Description  
> {{description}}

**Resource:** `{{resource}}`  
**Cluster Specific:** `{{clusterSpecific}}`
